* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    --black: #000;
    --dark-navy: #0a0a23;
    --dark-grey: #d0d0d5;
    --medium-grey: #dfdfe2;
    --light-grey: #f5f6f7;
    --peach: #f28373;
    --salmon-color: #f0aea9;
    --light-blue: #8bd9f6;
    --light-orange: #f8b172;
    --light-green: #93cb5b;
    --golden-yellow: #f1ba33;
    --gold: #f9aa23;
    --green: #6bca6b;
}

body {
    background-color: #8bd9f6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 25px 0;
    text-align: center;
    color: black;
}

#mainContainer {
    background-color: lightgray;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 10px 10px lightcoral;
}

#inputDiv {
    height: 80px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    flex-direction: column;
}
label {
    margin-bottom: 10px;
}
input {
    width: 200px;
    height: 30px;
    padding: 10px;
}
button {
    width: 80px;
    height: 30px;
    background-color: #f28373;
    border-radius: 10px;
}

#display {
    width: 350px;
    min-height: 250px;
    background-color: #f5f6f7;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.details {
    padding: 5px;
    text-align: center;
}

.sprite-container {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#types {
  min-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.type {
  width: 66px;
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;
  text-transform: uppercase;
}


table {
    width: 350px;
    margin: auto;
    table-layout: fixed;
    border: 0.5px solid gray;
    border-radius: 5px;
}
thead {
    background-color: #f8b172;
    height: 40px;
}

tr {
    background-color: #f8b172;
    height: 30px;
}

td {
    text-align: center;
}